 /*Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .left,
  .right {   
    flex: 100%;
    max-width: 100%;
  }
  .thumb{
    height: 400px;
  }
    .right>.language{
  display:none;
  }
  .thumb > .language{
    display: block;
  }
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------summary-------*/
  .summary,
  .skill {
    padding: 30px 20px;
   }

  .summary div.edit {
  display: flex;
  justify-content: center;
  margin-right: -40px;
  }
  h1{font-size: 16px;}
  .skill {
    flex-direction: column;
  }
  .pro,.per {
    width: 100%;
  }
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/
  /*-------------------------------------------------------------------footer-------*/

  /*-------------------------------------------------------------------footer-------*/
  footer {
      width: 100%;
  }
}
/*@media screen and (min-width: 375px )and (max-width: 500px){
    .thumb{
      height: 175px;
    }
}
@media screen and (min-width: 501px )and (max-width: 767px){
    .thumb{
      height: 300px;
    }
}*/