* {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}
body {
    max-width: 1440px;
    font-family: Poppins;
    font-size: 14px;
    color: #FFFFFF;
    margin:auto;
}
/*--------------------------------------------------------------------------------------*/
.w100 {
    width: 100%;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.positon-relative {
    position: relative;
}

.language {
    height: 21px;
    margin: 0px auto;
}

.language a {
    color: #fff;
    padding: 0 8px;
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding:7px 10px;
}
/*--------------------*/
header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #242581;
}

.h-left,
.h-right {
    width: 50%;
}

.thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/1.jpg);
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.thumb .language {
    display: none;
}

.thumb .name-job {
    margin-top: 396px;
}

.name-job .name {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.05em;
}

.name-job .job {
    font-size: 20px;
}

.thumb .btn-camera{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 120px 0px 0px 0px ;
    background: rgba(58, 57, 57, 0.8);
    padding: 30px;
}
/*---------------------------*/
.h-right {
    display: flex;
    flex-direction: column;
}

.h-right .language {
    margin-top: 21px;
}

.h-right .info {
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info .info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .info2 {
    padding: 0 136px 0 114px;
    margin:11px 0 0;
}
.info1 .small-photo {
    width: 150px;
    height: 150px;
    margin-top: 16px;
    border-radius: 100%;
    border:4px solid;
    background: url(../img/1.jpg), #C4C4C4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/*--------------------------------------------header------------------------------------*/ 
.small-photo .btn-camera {
    width: 150px;
    height: 40px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    text-align: center;
    margin-top: 110px;
    background: rgba(58, 57, 57, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-birthday {
    margin-top: 20px;
    text-align: center;
}

div.abc {
    width: 100%;
    height: 3px;
    background: linear-gradient(90.71deg, #F64C71 0.6%, #FB634E 50.01%);
}

.info-name {
    display: flex;
    margin-top: 2px;
    margin-bottom: 22px;
}

.A p,
.B p {
    margin-top: 15px;
    height: 21px;
}

.B {
    margin-left: 35px;
}

.info-edit {
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------------------PROFESSIONAL SUMMARY----------------------------*/
.summary {
    width: 100%; 
    text-align: justify;
    background-color: #2026B2;
    padding: 50px 135px 25px;
}

.summary .title {
    margin-bottom: 30px;
}

.summary div.edit {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.summary-edit {
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
    margin-right: 33px;
}
/*--------------------------------*/
.cv-line-bottom,
.cv-line-top {
    position: relative;
}

.cv-line-bottom:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    height: 5px;
    width: 100%;
    border-bottom: 2px solid #FB634E;
}

.cv-line-top:after {
    position: absolute;
    top: -6px;
    right: 0;
    content: '';
    height: 5px;
    width: 55%;
    border-bottom: 2px solid #FB634E;
}

/*---------------------------------------Professional Skills+Personal Skills---------------------------*/
.skill {
    display: flex;
    justify-content: space-between;
    background: #4A0F73;
    padding: 50px 115px 0;
    text-align: justify;
}
.skill-pro,
.skill-per {
    width: 50%;
    padding: 0 20px 20px;
}

.skill-pro > div,
.skill-per > div {
    margin-bottom: 20px;
}
/*------------*/
.pro-skill-item {
    width: 100%;
    display: grid;
    flex-flow: wrap;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.skill-donut-chart {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donut {
    height: 100px;
    width: 100px;
    stroke-dasharray: 298.451302091;
}

.donut-chart {
    fill: none;
    stroke-width: 5;
    cx: 50;
    cy: 50;
    r: 47.5;
}

.donut-ring {
    stroke: #d2d3d4;
}

.donut-segment {
    stroke: #F85365;
}

.donut text {
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
    font-size: 14px;
}

.skill-name {
    height: 21px;
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-donut-chart {
    grid-column: 3;
}

.add-pro-skill {
    border:1px solid orange;
}
/*------*/
.per-skill-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 33px;

}

.edit-item-left {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px 0 ;
}

.item-left {
    width: 100%;
    height: 7px;
    margin:5px;
    background: #ffffff;
    border-radius: 3px;   
}

.item-left .pt-x {
    position: relative;
    height: 7px;
    background: linear-gradient(90.71deg, #F64C71 0.6%, #FB634E 50.01%);
    border-radius: 3px;
}

.pt-x >p {
    position: absolute;
    top: -35px;
    right: -16px;
}

.item-object {
    margin: 10px;
}

.flex-row-end {
    display: flex;
     justify-content: flex-end;
     margin: 5px 33px;
}

.add-per-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid orange;
    padding: 5px;
}
/*--------------*/
.exe {
    display: flex;
    justify-content: space-between;
    background: #2026B2;
    padding: 50px 115px 0;
    text-align: justify;
}
.work,
.edu {
    margin: 0 20px;
}

.work > div,
.edu > div{
    margin-bottom: 20px;
}
/**/
.work-info-item,
.info-item {
    width: 100%;
    padding: 0 33px;
}

.info-box-item {
    width: 100%;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: justify;
    padding: 10px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;    
    border-left: 12px solid #ffffff;
    margin-top: 53px;
}

.border-bt {
    height: 1px;
    width: 50px;
    border-bottom: 2px dotted white;
    margin-top: 60px;
}

.info-box {
    display: flex;
}

.ii {
    width: 15px;
    border-bottom: 2px solid #fff;
    margin-left: -7px;
}

.edit-exe {
    margin-right: 33px;
    margin-bottom: 10px;
}

.info-edit-work-edu {
    display: flex;
    border:1px solid orange;
    justify-content: center;
    align-items: center;
}
/*----*/
.portfolio {
    background: #563D67;
    padding: 50px 135px 30px;
}

.portfolio > div {
    margin-bottom: 20px;
}

.nav {
    width: 100%;
    padding-left: 20px;
}
.nav a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
}
/*------------*/
.list-object {
    margin-top: 21px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}
.btn-project {
    border:1px solid orange;
}

.color1 {
    background-color: #FD7038;
}

.color2 {
    background-color: #EECD10;
}

.color3 {
    background-color: #2F2FA1;
}

.color4 {
    background-color: #F64C71;
}

.color5 {
    background-color: #333333;
}

.color6 {
    background-color: #EF5B5B;
}

.color7 {
    background-color: #F9BC2D; 
}

.color8 {
    background-color: #F9BC2D;
}

.item-a {
    padding: 10px 0;
}

.item-a >img {
    width: 160px;
}

.item-b {
    padding: 10px 0;
    grid-row: span 2;
}
.item-b >img {
    width: 160px;
}
.rec-btn {
    padding:66px 0;
    grid-column: 4;
}
/*--------*/
.reference {
    width: 100%; 
    background: #2F2FA1;
    padding: 50px 135px 10px;
}

.reference > div{
    margin-bottom: 30px;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.refer-edit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.refer-edit .info-edit-b {
    display: flex;
    border:1px solid orange;
}
/**/
.inner-content {
    text-align: justify;
    letter-spacing: 0.015em;
    padding: 30px 0 0 35px;
}
.position-relative {
    position: relative!important;
}
.text-start {
    top: 0px;
    left: 0px;
}
.text-start, .text-end {
    font-family: 'PortLligatSans';
    font-size: 80px;
    display: initial;
}
.position-absolute {
    position: absolute!important;
}
.text-end {
    margin-top: -10px;
}
.cv-gallerry-content {
    top: 0px;
    left: 0px;
}
/*------------------------------------*/
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row >div {margin: 10px;}

.quote {
    width:86%;
    text-align: justify;
}

.font-size-20 {
    font-size: 20px;
}
/*-------------------*/
.slider div .row .small-photo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border:4px solid;
    background: url(../img/1.jpg), #C4C4C4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*slick*/

.slick-dots {
    bottom: -10px;
}

.slick-dots li {
    width: 10px;
    height: 10px;
}

.slick-dots li button {
    height: 10px;
    width: 10px;
}

.slick-dots li button:before {
    height: 10px;
    width: 10px;
    opacity: 1;
    content: '';
    background-color: white;
    border-radius: 100%;
}

.slick-dots li.slick-active button:before {
    background-color: #979797;
}

.slick-dots li.slick-active button:after {
    background-color: white;
}

.slick-dots {
    bottom: 0;
}

.slick-list {
    margin: 0 35px;
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.slick-prev:before {
    content: "\f104" !important;
}

.slick-next:before {
    content: "\f105" !important;
}

.slick-arrow:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
}

.myslide {
    padding: 0 0 30px;
}

.add-refer {
    border:1px solid orange;
}
/*footer*/
footer {
  padding: 14px;
  text-align: center;
  background: #0C0C5E;
}

.btn-add-pro-skill-mb {
    display: none;
}
